@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

li{
  list-style: none;
}

img{
  max-width: 100%;
}

header{
  position: fixed;
  width: 100%;
  background-color: rgba(255, 238, 248, 0.9);
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  top: 0;
}



#menu{
  position: fixed;
  top: 100px;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  left: 20px;
  z-index: 100;
  cursor: pointer;
}

#content{
  position: relative;
  margin: 100px auto;
  padding: 20px;
  max-width: 1000px;
}

.set{
  background-color: #e8b7d0;
  min-height: 400px;
  margin-bottom: 40px;
}

body.one #backimg01,
body.two #backimg02,
body.three #backimg03{
  opacity: 1;
}

#back{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fcfcfc;
}

.backimg{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s all;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#line{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, blue,red);
}

.container{
  width:600px;
  height:auto;
  position: relative;
}
.container img{
  width:100%;
  height:auto;
}

.container{
  width:600px;
  height:auto;
  position: relative;
}
.container img{
  width:100%;
  height:auto;
}
p{
  position: absolute;
  top:15%;
  left:55%;
  transform: translate(-50%,-50%);
  padding:0;
  margin:0;
  font-size:30px;
  color: rgb(251, 251, 251);
}


.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}

.pic_txt{
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  align-items: center;
  background-color: #fbebf9;
}

.pic{
  width: 300px;
}

img{
  max-width: 100%;
  display: block;
}

.txt{
  flex: 1;
  padding: 20px;
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.title {
  display: flex;
  overflow: hidden;
  color: #050505;
  font-family: 'Josefin Sans', sans-serif;
}

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}
.title span:nth-child(3) {
  transition-delay: 0.12s;
}
.title span:nth-child(4) {
  transition-delay: 0.18s;
}
.title span:nth-child(5) {
  transition-delay: 0.24s;
}
.title span:nth-child(6) {
  transition-delay: 0.30s;
}
.title span:nth-child(7) {
  transition-delay: 0.36s;
}
.title span:nth-child(8) {
  transition-delay: 0.42s;
}
.title span:nth-child(9) {
  transition-delay: 0.48s;
}
.title span:nth-child(10) {
  transition-delay: 0.54s;
}
.title span:nth-child(11) {
  transition-delay: 0.6s;
}
.title span:nth-child(12) {
  transition-delay: 0.66s;
}
.title span:nth-child(13) {
  transition-delay: 0.72s;
}
.title span:nth-child(14) {
  transition-delay: 0.78s;
}


.anim-box.poyoyon2.is-animated {
  animation: poyoyon2 1s ease-in-out forwards;
}
 
@keyframes poyoyon2 {
  0%  {
    transform: scale(1.0, 1.0) translate(0, 0);
  }
  15% {
    transform: scale(0.98, 0.9) translate(0, 5px);
  }
  30% {
    transform: scale(1.02, 1.0) translate(0, 8px);
  }
  50% {transform: scale(0.98, 1.05) translate(0, -8px);
  }
  70% {
    transform: scale(1.0, 0.9) translate(0, 5px);
  }
  100% {
    transform: scale(1.0, 1.0) translate(0, 0);
  }
  0%, 100% {
    opacity: 1;
  }
}

